<div class="container">
  <div class="about">
    <h3>Aerial Grace</h3>
    <img src="http://www.terpsichorelyra.com/Pic7.jpg" class="logo">
    <br>
    <p>Aerial Grace is an aerial and acrobatic dance company based in Portland, OR. We specialize in circus arts and performances and strive to make every performance a true work of art.</p>
    <p>All our performers have solid backgrounds in various arts that help to bring together an amazing amount of talen to every production.</p>
    <p>Our performers also offer lessons and classes upon inquiry. Stay tuned for our upcoming performances and events!</p>
  </div>
</div>
