<div class="member-header">
  <h3><img src="{{memberToDisplay?.profilePic}}" class="artist-profile"> {{memberToDisplay?.name}}</h3>
  <h4>Specialties: {{memberToDisplay?.disciplines}}</h4>
</div>
<div class="row">
  <div class="col s4">
    <h6>Artist Background</h6>
    <p>{{memberToDisplay?.biography}}</p>
    <div *ngIf="memberToDisplay?.fans == 0">
      <p><span (click)="fanMember()">
        <a class="waves-effect waves-light btn">
      <i class="fa fa-heart-o" aria-hidden="true"></i></a></span> 0 fans</p>
    </div>
    <div *ngIf="projectToDisplay?.likes == 1">
      <p><span (click)="fanMember()" class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large red">
      <i class="fa fa-heart" aria-hidden="true"></i></a></span> {{projectToDisplay?.likes}} loving fan</p>
    </div>
    <div *ngIf="projectToDisplay?.likes > 1">
      <p><span (click)="fanMember()" class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large red">
      <i class="fa fa-heart" aria-hidden="true"></i></a></span> {{projectToDisplay?.likes}} loving fans</p>
    </div>
  </div>
  <div class="col s8">
    <img src="{{memberToDisplay?.fullImage}}">
  </div>
</div>
