body {
  background-color: #2A3031;
  color: white;
}

.artist-profile {
  max-width: 80px;
  border-radius: 50px;
}

.member-box {
  cursor: pointer;
  background-color: teal;
  border: solid 1px gray;
  margin: 15px;
  padding: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 20%;
  opacity: 0.6;
}

.member-box:hover {
  color: #5CCADD;
  opacity: 1.0;
}

.member-image img {
  max-width: 300px;
  position: absolute;
  opacity: 0.3;
}

.nav-wrapper {
  background-color: #32AAC2;
}

.fans {
  color: white;
}

.about {
  /*text-align: center;*/
}

.logo {
  height: 300px;
  width: 300px;
  position: relative;
  border-radius: 200px;
  display: block;
  float: left;
  margin: 15px;
}

.memberImage {
  max-height: 600px;
  max-width: 700px;
}
