<script type="text/javascript">
$('input.autocomplete').autocomplete({
data: {
  "aerial silks": null,
  "aerial hoop": null,
  "static trapeze": null
},
limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
// onAutocomplete: function(val) {
//   // Callback function when value is autcompleted.
// },
minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
});
</script>
<div class="row">
  <div class="col s12">
    Aerial Grace Company Members | Filter By Discipline:
    <div class="input-field inline">
      <input type="text" id="autocomplete-input" class="autocomplete" (change)="onChange($event.target.value)">
      <label for="autocomplete-input">Discipline</label>
      <!-- <input type="text" id="discipline-choice" (change)="onChange($event.target.value)"> -->
      <!-- <input type="hidden" id="discipline-choice" (change)="onChange($event.target.value)"> -->
      <!-- <select id="discipline">
        <option value="" disabled selected>Choose your option</option>
        <option value="all">All Disciplines</option>
        <option value="aerial silks">Aerial Silks</option>
        <option value="aerial hoop">Aerial Hoop</option>
        <option value="static trapeze">Static Trapeze</option>
        <option value="dance trapeze">Dance Trapeze</option>
        <option value="aerial straps">Aerial Straps</option>
        <option value="contortion">Contortion</option>
        <option value="miscellaneous">Mixed Other</option>
      </select> -->
    </div>
  </div>
</div>
<div class="row">
  <div *ngFor="let member of members | async | discipline:filterByDiscipline" (click)="goToMemberPage(member)" class="col member-box">
    <h4><span class="member-name">{{member.name}}</span></h4>
    <p>{{member.disciplines}}</p>
  </div>
</div>
